= form_for @deal do |f|
  - if @deal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deal.errors.count, "error")} prohibited this deal from being saved:"
      %ul
        - @deal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :max_clients
    = f.number_field :max_clients
  .field
    = f.label :min_clients
    = f.number_field :min_clients
  .field
    = f.label :start_date
    = f.datetime_select :start_date
  .field
    = f.label :life_time
    = f.number_field :life_time
  .field
    = f.label :actually
    = f.check_box :actually
  .actions
    = f.submit 'Save'
