%h1 Listing deals

%table
  %thead
    %tr
      %th Name
      %th Max clients
      %th Min clients
      %th Start date
      %th Life time
      %th Actually
      %th
      %th
      %th

  %tbody
    - @deals.each do |deal|
      %tr
        %td= deal.name
        %td= deal.max_clients
        %td= deal.min_clients
        %td= deal.start_date
        %td= deal.life_time
        %td= deal.actually
        %td= link_to 'Show', deal
        %td= link_to 'Edit', edit_deal_path(deal)
        %td= link_to 'Destroy', deal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Deal', new_deal_path
