%p#notice= notice

%p
  %b Name:
  = @deal.name
%p
  %b Max clients:
  = @deal.max_clients
%p
  %b Min clients:
  = @deal.min_clients
%p
  %b Start date:
  = @deal.start_date
%p
  %b Life time:
  = @deal.life_time
%p
  %b Actually:
  = @deal.actually

= link_to 'Edit', edit_deal_path(@deal)
\|
= link_to 'Back', deals_path
